/* green stripes */
.green-stripe-1 {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 33vw;
  height: 95%;
  background-color: #007c91;
  z-index: -10000;
}

.green-stripe-2 {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  width: 100%;
  height: 30vh;
  background-color: #007c91;
  z-index: -10000;
}

.green-stripe-3 {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 20vw;
  height: 90%;
  background-color: #007c91;
  z-index: -10000;
}

.green-stripe-4 {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 60%;
  background-color: #007c91;
  z-index: -10000;
}

@media (max-width: 1366px) {
  .green-stripe-2 {
    height: 250px;
  }
}

@media (max-width: 1199px) {
  .green-stripe-1 {
    top: 0;
    right: 0;
    width: 40vw;
    height: 100%;
  }

  .green-stripe-2 {
    height: 25vh;
  }

  .green-stripe-3 {
    height: 87.5%;
  }
}

@media (max-width: 991px) {
  .green-stripe-2 {
    height: 220px;
  }

  .green-stripe-4 {
    height: 55%;
  }
}

@media (max-width: 575px) {
  .green-stripe-1 {
    width: 30vw;
    height: 98.5%;
  }

  .green-stripe-2 {
    height: 24vh;
  }

  .green-stripe-3 {
    width: 75px;
  }

  .green-stripe-4 {
    height: 75%;
  }
}

/* default style */
.section {
  padding: 100px;
}

.title-section {
  width: 40vw;
  margin-bottom: 100px;
}

.title-section h2 {
  color: #007c91;
  font-size: 3.5vw;
}

.title-section p {
  font-size: 1.5vw;
}

@media (max-width: 991px) {
  .section {
    padding: 100px 50px;
  }

  .title-section h2 {
    font-size: 5vw;
  }

  .title-section p {
    font-size: 2.25vw;
  }
}

@media (max-width: 575px) {
  .section {
    padding: 100px 30px;
  }

  .title-section {
    width: 60vw;
    margin-bottom: 50px;
  }

  .title-section h2 {
    font-size: 2rem;
  }

  .title-section p {
    font-size: 1rem;
  }
}
/* end home page default style */

/* hero section */
.hero-section {
  position: relative;
  color: #222222;
  padding: 150px 50px 100px;
}

.hero-section h1 {
  font-size: 10.5vw;
  letter-spacing: 5px;
  line-height: 85%;
}

.hero-title1 {
  text-align: left;
}

.hero-title2 {
  text-align: center;
}

.hero-title3 {
  text-align: right;
}

.hero-description-div {
  width: 40%;
  margin-left: 10vw;
}

.hero-description {
  font-size: 2vw;
}

.hero-cta {
  padding-top: 15px;
}

.hero-cta a {
  color: #ffffff;
  background-color: #00acc1;
  border: #00acc1 solid 2px;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1.5vw;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.5s linear;
}

.hero-cta a:hover {
  color: #ffffff;
  background-color: #007c91;
  border: #007c91 solid 2px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.hero-img-div {
  position: absolute;
  top: 150px;
  right: 50px;
  width: 40%;
  z-index: -100;
}

.hero-img {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.hero-img::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}
/* end hero section */

/* service section */
.service-row {
  margin-bottom: 100px;
}

.service-img {
  width: 90%;
  height: 100%;
}

.service-copy-div {
  color: #ffffff;
  background-color: #00acc1;
  padding: 50px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 100px;
  left: -25%;
  width: 100%;
}

.service-copy-div h3 {
  font-size: 2vw;
}

.service-copy-div p {
  font-size: 1.5vw;
}
/* end service section */

/* projects section */
.projects-section {
  padding: 100px 0;
}

.projects-title-section {
  margin-left: 100px;
  margin-right: 100px;
}

.carousel-section {
  position: relative;
  margin-bottom: 100px;
}

.carousel-nav-div {
  position: absolute;
  top: -60px;
  right: 50px;
  display: flex;
}

.carousel-previous-btn {
  background-color: transparent;
  border: none;
  padding: 0 20px;
}

.carousel-next-btn {
  background-color: transparent;
  border: none;
  padding: 0 20px;
}

.chevron-icons {
  width: 25px;
  height: 25px;
}

.carousel-index {
  width: 50px;
  text-align: center;
}

.carousel-item-div {
  position: relative;
}

.carousel-img {
  clip-path: polygon(100% 0%, 10% 0%, 0% 100%, 90% 100%);
  height: 35vh;
  width: 105%;
}

.carousel-img::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.carousel-item-div h3 {
  position: absolute;
  top: 30px;
  left: 75px;
  color: #ffffff;
  font-size: 2vw;
}

.carousel-item-div p {
  position: absolute;
  bottom: 30px;
  left: 75px;
  color: #ffffff;
  font-size: 1.25vw;
  font-weight: 400;
  width: 75%;
}
/* end projects section */

/* about section */
.about-section {
  padding-top: 0px !important;
}

.about-img {
  margin: auto;
  width: 100%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.about-copy {
  margin-top: 12vh;
  margin-left: 50px;
}
/* end about section */

/* team section */
.team-section {
  padding-top: 0px !important;
  padding-left: calc(20vw + 50px);
}

.team-member-div {
  position: relative;
  background-color: #00acc1;
  height: 30vh;
}

.team-member-1-div,
.team-member-2-div,
.team-member-3-div,
.team-member-4-div {
  margin-bottom: 100px;
}

.team-member-2-div,
.team-member-4-div,
.team-member-6-div {
  margin-left: 50px;
}

.team-member-1-div,
.team-member-3-div,
.team-member-5-div {
  margin-right: 50px;
}

.team-member-info {
  position: absolute;
  top: 50%;
  right: 12.5vw;
  transform: translateY(-50%);
  text-align: right;
}

.team-member-name {
  color: #ffffff;
  font-size: 1.5vw;
  font-weight: 600;
  font-family: 'Fahkwang', sans-serif;
  margin-bottom: 0;
}

.team-member-title {
  color: #ffffff;
  font-size: 1.5vw;
  margin-bottom: 0;
}

.team-member-img {
  position: absolute !important;
  top: 2.5vh;
  right: -2vw;
  width: 12.5vw;
  height: 30vh;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
}
/* end team section */

/* contact section */
.contact-form-div {
  background-color: #00acc1;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
  padding: 100px;
  width: 80%;
}

.form-div {
  margin-bottom: 1rem;
}

.form-label {
  color: #ffffff;
  font-size: 1.5vw;
  margin-bottom: 5px;
  display: flex;
}

.form-input {
  width: 90%;
  height: 40px;
}

.form-text-area {
  width: 90%;
  height: 150px;
}

.form-btn {
  color: #ffffff;
  background-color: #007c91;
  border: #007c91 solid 2px;
  padding: 15px 50px;
  border-radius: 50px;
  font-size: 1.5vw;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.5s linear;
}

.form-btn:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.contact-info-div {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}

.contact-info {
  margin-bottom: 1rem;
}

.contact-info h3,
.contact-info p {
  font-size: 1.5vw;
  margin-bottom: 0;
}
/* end contact section */

@media (max-width: 1366px) {
  /* project section */
  .carousel-img {
    height: 250px;
  }

  /* team section */
  .team-member-div,
  .team-member-img {
    height: 225px;
  }
}

@media (max-width: 1199px) {
  /* hero section */
  .hero-section {
    padding-top: 200px;
  }

  .hero-img-div {
    top: 200px;
  }

  .hero-description-div {
    margin-left: 5vw;
  }

  /* service section */
  .service-row {
    margin-bottom: 150px;
  }

  .service-img {
    width: 95%;
    height: 100%;
  }

  .service-copy-div {
    top: auto;
    bottom: -50px;
    left: -25px;
    width: 125%;
  }

  .service-copy-div h3 {
    font-size: 2.75vw;
  }

  .service-copy-div p {
    font-size: 2.25vw;
  }

  /* projects section */
  .carousel-img {
    height: 25vh;
  }

  /* about section */
  .about-copy {
    margin-top: 50px;
  }

  /* team section */
  .team-member-div {
    height: 200px;
  }

  .team-member-img {
    height: 200px;
    top: 20px;
    right: -20px;
  }

  .team-member-1-div,
  .team-member-2-div,
  .team-member-3-div,
  .team-member-4-div {
    margin-bottom: 75px;
  }

  .team-member-2-div,
  .team-member-4-div,
  .team-member-6-div {
    margin-left: 35px;
  }

  .team-member-1-div,
  .team-member-3-div,
  .team-member-5-div {
    margin-right: 35px;
  }

  /* contact section */
  .contact-form-div {
    padding: 75px;
    width: 85%;
  }
}

@media (max-width: 991px) {
  .hero-section {
    padding-top: 175px;
  }

  .hero-description-div {
    width: 50%;
    margin-left: 0;
  }

  .hero-description {
    font-size: 1.25rem;
  }

  .hero-cta a {
    font-size: 1rem;
  }

  /* service section */
  .service-img {
    width: 90%;
    height: 100%;
  }

  /*projects section */
  .projects-section .title-section {
    width: 60vw;
    margin-left: 50px;
    margin-right: 50px;
  }

  .carousel-nav-div {
    right: 30px;
  }

  .carousel-img {
    height: 225px;
  }

  .carousel-item-div h3 {
    font-size: 3vw;
  }

  .carousel-item-div p {
    font-size: 2.25vw;
  }

  /* about section */
  .about-img {
    margin: 0;
    width: 75% !important;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.35);
  }

  .about-copy {
    width: auto;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  /* team section */
  .team-section .title-section {
    width: 70%;
    margin-bottom: 50px;
  }

  .team-member-div {
    height: 350px;
  }

  .team-member-1-div,
  .team-member-2-div,
  .team-member-3-div,
  .team-member-4-div,
  .team-member-5-div {
    margin-bottom: 100px;
  }

  .team-member-2-div,
  .team-member-4-div,
  .team-member-6-div {
    margin-left: 0;
  }

  .team-member-1-div,
  .team-member-3-div,
  .team-member-5-div {
    margin-right: 20px;
  }

  .team-member-info {
    right: 270px;
  }

  .team-member-name {
    font-size: 1.5rem;
  }

  .team-member-title {
    font-size: 1.5rem;
  }

  .team-member-img {
    top: 20px;
    right: -20px;
    width: 250px;
    height: 350px;
  }

  /* contact section */
  .contact-form-div {
    padding: 50px;
    width: 110%;
    margin-left: -50px;
  }

  .form-label {
    font-size: 1rem;
  }

  .form-btn {
    font-size: 1rem;
  }
  .contact-info h3,
  .contact-info p {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .hero-section {
    position: relative;
    color: #222222;
    padding: 175px 30px 100px;
  }

  .hero-section h1 {
    letter-spacing: 0;
    line-height: 120%;
  }

  .hero-description-div {
    width: 70%;
    margin-top: 150px;
  }

  .hero-img-div {
    top: 175px;
    right: 30px;
    width: 75%;
  }

  .hero-img::after {
    background-color: rgba(255, 255, 255, 0.4);
  }

  /* service section */
  .service-row {
    margin-bottom: 100px;
  }

  .service-img {
    width: 100%;
    height: 100%;
  }

  .service-copy-div {
    box-shadow: none;
    padding: 25px;
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    width: 100%;
  }

  .service-copy-div h3 {
    font-size: 1.5rem;
  }

  .service-copy-div p {
    font-size: 1rem;
  }

  /* projects section */
  .projects-section .title-section {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  .carousel-section {
    margin-top: 150px;
  }

  .carousel-nav-div {
    right: 10px;
  }

  .carousel-item-div {
    margin: 0 30px;
  }

  .carousel-img {
    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
    height: 25vh;
    width: auto;
  }

  .carousel-item-div h3 {
    top: 25px;
    left: 25px;
    font-size: 1.75rem;
  }

  .carousel-item-div p {
    bottom: 25px;
    right: 25px;
    font-size: 1rem;
  }

  /* about section */
  .about-img {
    width: 100% !important;
  }

  .about-copy {
    margin-left: 70px;
  }

  /* team section */
  .team-section {
    padding-left: 0;
  }

  .team-section .title-section {
    width: 100%;
    margin-bottom: 50px;
    padding-left: calc(75px + 30px);
  }

  .team-member-div {
    height: 200px;
  }

  .team-member-1-div,
  .team-member-2-div,
  .team-member-3-div,
  .team-member-4-div,
  .team-member-5-div {
    margin-bottom: 100px;
  }

  .team-member-2-div,
  .team-member-4-div,
  .team-member-6-div {
    margin-left: 0;
  }

  .team-member-1-div,
  .team-member-3-div,
  .team-member-5-div {
    margin-right: 0px;
  }

  .team-member-info {
    right: 190px;
  }

  .team-member-name {
    font-size: 1rem;
  }

  .team-member-title {
    font-size: 1rem;
  }

  .team-member-img {
    top: 20px;
    right: 20px;
    width: 150px;
    height: 200px;
  }

  /* contact section */
  .contact-form-div {
    padding: 50px;
    width: 105%;
    margin-left: -30px;
  }

  .form-label {
    font-size: 1.2rem;
  }

  .form-input {
    width: 100%;
  }

  .form-text-area {
    width: 100%;
  }

  .form-btn {
    font-size: 1.2rem;
  }

  .contact-info-div {
    color: #ffffff;
    position: relative;
    top: auto;
    left: auto;
    transform: translateY(0);
    margin-top: 50px;
  }
  .contact-info {
    margin-bottom: 1.5rem;
  }

  .contact-info h3,
  .contact-info p {
    font-size: 1.2rem;
  }
}
